/* ---- GLOBAL SETUP ----- */
/* ---- Global Variables ----- */

@import url("https://fonts.googleapis.com/css?family=Poppins:400");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
} /*16px*/

:root {
  /* colors */
  --primary-100: #d0ecfd;
  --primary-200: #a2dafa;
  --primary-300: #73c7f8;
  --primary-400: #45b5f5;
  --primary-500: #16a2f3;
  --primary-600: #1282c2;
  --primary-700: #0d6192;
  --primary-800: #094161;
  --primary-900: #042031;

  --secondary-100: #defefa;
  --secondary-200: #bdfcf6;
  --secondary-300: #9bfbf1;
  --secondary-400: #7af9ed;
  --secondary-500: #59f8e8;
  --secondary-600: #47c6ba;
  --secondary-700: #35958b;
  --secondary-800: #24635d;
  --secondary-900: #12322e;

  --gray-50: #f6f6f6;
  --gray-100: #ecedee;
  --gray-200: #d9dbdd;
  --gray-300: #c6c9cb;
  --gray-400: #b3b7ba;
  --gray-500: #a0a5a9;
  --gray-600: #808487;
  --gray-700: #606365;
  --gray-800: #404244;
  --gray-900: #202122;

  --error: #db4359;
  --warning: #ffe45c;
  --success: #00cc74;
  --white: #fbfdff;
  --black: #000508;
  --bgColor: var(--gray-100);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-and-out all;
  --textColor: var(--gray-900);
  --maxWidth: 1120px;
  --fixedWidth: 600px;

  /* typography */
  --baseFont: "Poppins", sans-serif;
  --smallText: 0.8rem;

  /* box shadow */
  --boxShadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --boxShadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --boxShadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --boxShadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --boxShadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);

  --basePadding: 0.375rem 0.75rem;
}

body {
  background: var(--gray-50);
  font-family: var(--baseFont);
  font-weight: 400;
  line-height: 1.75;
  color: var(--gray-900);
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--baseFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

h6,
.text_sm {
  font-size: var(--smallText);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  margin: 0 40px;
}

.extra-div {
  margin: 40px;
  height: 50px;
  background: var(--warning);
  text-align: center;
}

.img-container {
  width: 40vw;
  border: 5px solid var(--secondary-500);
  border-radius: var(--borderRadius);
  max-width: var(--maxWidth);
}
.img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* buttons */
.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  padding: var(--basePadding);
  border: transparent;
  border-radius: var(--borderRadius);
  box-shadow: var(--boxShadow-sm);
  transition: var(--transition);
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing);
  display: inline-block;
}

.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--boxShadow-xl);
}

.btn-secondary {
  color: var(--secondary-700);
  background: var(--secondary-200);
}

.btn-secondary:hover {
  color: var(--secondary-200);
  background: var(--secondary-700);
}

.btn-block {
  width: 100%;
}

/* alerts */
.alert {
  padding: var(--basePadding);
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
}

.alert-danger {
  background: var(--warning);
  color: var(--gray-700);
}
.alert-success {
  background: var(--success);
  color: var(--gray-700);
}

/* forms */
.form {
  width: 90vh;
  max-width: var(--fixedWidth);
  background: var(--gray-100);
  padding: 2rem 2.5rem;
  box-shadow: var(--boxShadow-md);
  margin: 3rem auto;
  border-radius: var(--borderRadius);
}

.form-label {
  display: block;
  font-size: var(--smallText);
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
  color: var(--gray-700);
  margin-bottom: 0.5rem;
}

.form-input,
.textarea {
  width: 100%;
  padding: var(--basePadding);
  border-radius: var(--borderRadius);
  background-color: var(--white);
  border: 1px solid var(--gray-200);
}

.textarea {
  height: 7rem;
}

.form-row {
  margin-bottom: 1rem;
}

::placeholder {
  color: var(--gray-200);
  font: var(--baseFont);
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--gray-500);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
  margin: 0 auto;
}

.section-title {
  text-align: center;
}

.title-underline {
  height: 0.25rem;
  width: 7rem;
  background: var(--primary-500);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: -1rem;
}

.smallText {
  font-size: var(--smallText);
  color: var(--error);
}

/* 
=========
Navbar
=========
 */

.navbar {
  background-color: var(--primary-100);
  height: 3rem;
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: var(--boxShadow-md);
}

.nav-center {
  width: 90vw;
  max-width: var(--fixedWidth);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading-logo {
  color: var(--primary-500);
  font-weight: 600;
  padding: 0.375px 0.75px;
  margin-bottom: 0;
}

.list {
  display: flex;
}

.list-items-links {
  color: var(--primary-800);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing);
  margin-right: 1rem;
  transition: var(--transition);
}

.list-items-links:hover {
  color: var(--primary-500);
}

/* 
=========
Main Content
=========
 */
main {
  height: calc(100vh - 4rem);
  display: grid;
  place-items: center;
}

.main-container {
  text-align: center;
}

.main-container-heading {
  background-color: var(--primary-900);
  padding: 2rem;
  border-radius: var(--borderRadius);
  margin-bottom: 4rem;
  
  color: var(--white);
  letter-spacing: var(--letterSpacing);
  font-weight: 600;
}

.color {
  text-transform: uppercase;
  color: var(--secondary-500);
}

.btn-hero {
  background: transparent;
  border:  2px solid var(--black);
  padding: 0.75rem 1.25rem;

  color: var(--black);
  letter-spacing: var(--letterSpacing);
  font-weight: 700;
}

.btn-hero:hover {
  color: var(--white);
  background: var(--black);
}